[project]
	description = A Social Network based on Elgg
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Zoumpis (athanrous)
[access "refs/for/refs/*"]
	read = group user/Zoumpis (athanrous)
	push = group user/Zoumpis (athanrous)
	label-Code-Review = -2..+2 group user/Zoumpis (athanrous)
	label-Verified = -1..+1 group user/Zoumpis (athanrous)
	rebase = group user/Zoumpis (athanrous)
	removeReviewer = group user/Zoumpis (athanrous)
	submit = group user/Zoumpis (athanrous)
[access "refs/heads/*"]
	read = group user/Zoumpis (athanrous)
	create = group user/Zoumpis (athanrous)
	push = +force group user/Zoumpis (athanrous)
	pushMerge = group user/Zoumpis (athanrous)
[access "refs/tags/*"]
	push = +force group user/Zoumpis (athanrous)
	pushTag = group user/Zoumpis (athanrous)
	pushSignedTag = group user/Zoumpis (athanrous)
